/* astesisk wildcard selector to override default styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border: box;
}
 /* General styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*Generic project styles */
  color:#3a3a3a;

}

/*header*/
header {
background-color: rgb(82, 147, 245);
}
 
/*main contetn*/
main {
 background-color: lightblue;
 flex: 1 0 auto;
}

/*footer*/
footer {
    background-color: orange;
}