/*google font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* astesisk wildcard selector to override default styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* General styles*/ 
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*Generic project styles */
  color:#3a3a3a;
  font-family: 'roboto', sans-serif;

}

/*header*/
header {
background-color: #ffffff;
padding: 0 1rem;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 0 2px 2px #3a3a3a;
display: flex;
justify-content: space-between;
align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#252525;
}

 /*nav*/

 #menu {
    width: 110%;
    padding: 4px;
    list-style-type:none;
 }

 #menu > li {
    margin-bottom: 1em;
 }
.active {
    border-bottom: 1px solid;
}

/* navbar style with deopdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    
}
/* nav toogle*/
#nav-toggle:checked~nav {
display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;

}
/*main contetn*/
main {
 background-color: lightblue;
 flex: 1 0 auto;
 margin-top: 47px;
}

/*footer*/

   /* footer */
footer {
    background-color: #f3f7f8;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 2px #3a3a3a;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#social-network {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network i {
    font-size: 200%;
    padding: 5%;
    color: #3a3a3a;
}


/*media query tablets and larger 768px and up)*/
@media screen and (min-width: 768px) {
    
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
   }
   #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
   }
   main {
    margin-top: 79px ;
   }
}
/*media Queries laptop and upwards*/
@media screen and  (min-widt: 992px) {
    #menu  a:hover {
        border-bottom: 1px solid;
    }
}
    
}


/*media query tablets and larger 8768px and up)*/